@import "tailwindcss";

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 360px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 1000px;
  --breakpoint-xl: 1200px;
  --color-primaryBlue: oklch(0.746 0.16 232.661);
  --color-primaryRed: oklch(0.712 0.194 13.428);
}
